<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2017, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~ WSO2 Inc. licenses this file to you under the Apache License,
  ~ Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Siddhi-Execution-String_Test-Suite">
    <test name="siddhi-execution-string-unit-tests" preserve-order="true" parallel="false">
        <classes>
            <class name="io.siddhi.extension.execution.string.CharAtFunctionExtensionTestCase" />
            <class name="io.siddhi.extension.execution.string.CoalesceFunctionExtensionTestCase" />
            <class name="io.siddhi.extension.execution.string.ConcatFunctionExtensionTestCase" />
            <class name="io.siddhi.extension.execution.string.ContainsFunctionExtensionTestCase" />
            <class name="io.siddhi.extension.execution.string.EqualsIgnoreCaseFunctionExtensionTestCase" />
            <class name="io.siddhi.extension.execution.string.HexFunctionExtensionTestCase" />
            <class name="io.siddhi.extension.execution.string.LengthFunctionExtensionTestCase" />
            <class name="io.siddhi.extension.execution.string.LowerFunctionExtensionTestCase" />
            <class name="io.siddhi.extension.execution.string.RegexpFunctionExtensionTestCase" />
            <class name="io.siddhi.extension.execution.string.RepeatFunctionExtensionTestCase" />
            <class name="io.siddhi.extension.execution.string.ReplaceAllFunctionExtensionTestCase" />
            <class name="io.siddhi.extension.execution.string.ReplaceFirstFunctionExtensionTestCase" />
            <class name="io.siddhi.extension.execution.string.ReverseFunctionExtensionTestCase" />
            <class name="io.siddhi.extension.execution.string.SplitFunctionExtensionTestCase" />
            <class name="io.siddhi.extension.execution.string.StrcmpFunctionExtensionTestCase" />
            <class name="io.siddhi.extension.execution.string.SubstrFunctionExtensionTestCase" />
            <class name="io.siddhi.extension.execution.string.TokenizerStreamProcessorExtensionTestCase" />
            <class name="io.siddhi.extension.execution.string.TrimFunctionExtensionTestCase" />
            <class name="io.siddhi.extension.execution.string.UnhexFunctionExtensionTestCase" />
            <class name="io.siddhi.extension.execution.string.UpperFunctionExtensionTestCase" />
            <class name="io.siddhi.extension.execution.string.GroupConcatFunctionExtensionTestCase" />
            <class name="io.siddhi.extension.execution.string.FillTemplateFunctionExtensionTestCase" />
        </classes>
    </test>
</suite>